@import "mixins";

:root {
  --font-size: 10px;
}
.life {
  background: #00C691;
  &__content {

    .yellowBox {
      background: #FFE232;
      &--rightTop {
        position: absolute;
        top: 0;
        right: 128px;
        width: 230px;
        height: 600px;
        .mask {
          position: absolute;
          right: -20px;
          bottom: 53px;
        }
      }
    }
    .textBig {
      position: absolute;
      .big {
        display: inline-block;
        font-size: 200px;
        font-weight: 700;
      color: #FFE232;
    }
      .textSmall {
        color: #fff;
        font-size: 20px;
      }
      @include transition(1s ease);
      &__s {
        left: 677px;
        top: 150px;
        .textSmall {
          position: absolute;
          left: 92px;
          bottom: 60px;
        }
      }
      &__p {
        left: 1060px;
        top: 250px;
        .big {
          @include rotate(90deg);
        }
        .textSmall {
          position: absolute;
          top: 60px;
          left: 47px;
        }
      }
      &__x {
        left: 851px;
        top: 345px;
        .textSmall {
          position: absolute;
          left: 112px;
          bottom: 50px;
        }
      }
    }

    .videoPhoto {
      position: relative;
      padding: 605px 0 0;
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      &__content {
        float: left;
        width: 733px;
      }
      &__text {
        float:right;
        padding: 230px 128px 0 0;
        font-size: 40px;
        text-align: right;
        color: #fff;
        line-height: 1.8em;
      }

      &__content {
        position: relative;
        .videoPhoto__animateBox {
          position: absolute;
          left: 0;
          top: 203px;
          width: 706px;
          height: 312px;
          background: #C7CBD9;
          opacity: 0.65;
          z-index: 3;
        }
        .yellowBox {
          position: absolute;
          left: 706px;
          top: 203px;
          width: 26px;
          height: 312px;
          background: #FFE232;
        }
      }
    }

    .xtlogo {
      position: relative;
      height: 395px;
      padding: 163px 0 0 408px;
      .yellowBox {
        position: absolute;
        left: 706px;
        top: -3px;
        background: #FFE232;
        width: 102px;
        height: 398px;
      }
      .logoImg {
        position: relative;
        z-index: 2;
      }
      .textMask {
        position: absolute;
        right: 160px;
        bottom: 50px;
        font-size: 50px;
        color: #FFE232;
      }
    }

    .swiperArea {
      margin-bottom: 170px;
      .border {
        position: relative;
        width:1364px;
        height: 700px;
        margin: 0 auto 30px;
        /*overflow: hidden;*/
        &:before,&:after {
          content: "";
          width: 0%;
          height: 0%;
          position: absolute;
          visibility: hidden;
          z-index: 2;
        }
        &:before {
          border-top: 30px solid #fff;
          border-right: 30px solid #fff;
          -webkit-transition: width 0.3s ease 0.3s, height 0.3s ease 0.5s, visibility 0s 0.6s;
          transition: width 0.3s ease 0.3s, height 0.3s ease 0.5s, visibility 0s 0.6s;
          top: 0;
          left: 0;
        }
        &:after {
          border-left: 30px solid #fff;
          border-bottom: 30px solid #fff;
          bottom: 0;
          right: 0;
          -webkit-transition: width 0.3s ease 0.3s, height 0.5s ease, visibility 0s 0.6s;
          transition: width 0.3s ease 0.3s, height 0.5s ease, visibility 0s 0.6s;
        }
        &.aos-animate {
          -webkit-animation: pulse 1s ease-out 0.4s;
          animation: pulse 1s ease-out 0.4s;
          color: #0395E5;
          &:before,&:after {
            width: 100%;
            height: 100%;
            visibility: visible;
          }
          &:before {
            -webkit-transition: width 0.3s ease, height 0.3s ease 0.3s;
            transition: width 0.3s ease, height 0.3s ease 0.3s;
          }
          &:after {
            -webkit-transition: width 1s ease 0.4s, height 1.2s ease 1.2s, visibility 0s 0.5s;
            transition: width 1s ease 0.4s, height 1.2s ease 1.2s, visibility 0s 0.5s;
          }
        }
      }
      .swiper-container {
        img {
          width: 100%;
        }
      }
      .swiper-pagination {
        position: absolute;
        right: 90px;
        bottom: -4px;
        .swiper-pagination-bullet {
          position: relative;
          width: 30px;
          height: 50px;
          margin: 0 5px;
          background: #FFE232;
          border-radius: 0;
          opacity: 1;
          transition: 1s ease;
          -webkit-transform: scaleY(1);
          transform: scaleY(1);
          &-active {
            position: relative;
            -webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          }
        }
      }
    }

    .xtText {
      display: flex;
      justify-content: center;
      .bigText {
        margin-right: 180px;
        span {
          line-height: 1.1em;
          font-size: 120px;
          color: #fff;
        }
      }
      .text {
        span {
          position: relative;
          color: #fff;
          font-size: 30px;
          line-height: 1.8em;
          &:before {
            content: "";
            top: 0;
            bottom: 0;
            display: inline-block;
            position: absolute;
            width: 100%;
          }
          &:after {
            content: "";
            top: 0;
            bottom: 0;
            display: inline-block;
            position: absolute;
            background: #000;
          }
        }
        &.aos-animate {
          span {
            &:before {
              right: 0;
              width: 0;
              -webkit-transition: width 1.1s ease-in-out;
              transition: width 1.1s ease-in-out;
              transition-delay: 0.5s;
            }
            &:after {
              -webkit-animation: typo01-after 1s ease-in-out;
              animation-delay: 0.5s;
            }
          }
        }
      }
    }

    .xtMember {
      width: 100%;
      &__team {
        position: relative;
        height: 230px;
        .name {
          position: relative;
          top: -50px;
          color: #fff;
          font-size: 20px;
          margin: 0 30px;
        }
        strong {
          /*font-size: 160px;*/
          font-size: 8.5vw;
          color: #FFE232;
          font-weight: 700;
        }
        .xtMember__team__memberList {
          position: absolute;
          top: 4.3vw;
          display: inline-block;
          height: 50px;
          line-height: 50px;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            /*height: 50px;*/
            height: 2.59vw;
            mix-blend-mode: hard-light;
          }
          span {
            position: relative;
            margin: 0 33px;
            color: #fff;
            /*font-size: 20px;*/
            font-size: 1.03vw;
            z-index: 2;
          }
        }
        &.planner {
          .xtMember__team__memberList:after {
            background: #3742DB;
            width: 810px;
            left:-168px;
          }
        }
        &.designer {
          .xtMember__team__memberList{
            right: 810px;
            &:after {
              background: #00BF6C;
              width: 1120px;
            }
          }
        }
        &.publisher {
          .xtMember__team__memberList:after {
            background: #AF45D5;
            width: 760px;
            left: -325px;
          }
        }
        &.develover {
          height: 300px;
          .xtMember__team__memberList {
            &:after {
              background: #FF6F24;
              mix-blend-mode: hard-light;
            }
            &.list1 {
              right: 1523px;
              top: 224px;
              &:after {
                width: 880px;
                left: -16px;
              }
              &:before {
                content: "";
                background: url(~assets/web/images/life/develover.svg) no-repeat;
                position: absolute;
                bottom: -47px;
                right: -258px;
                width: 300px;
                height: 238px;
                mix-blend-mode: hard-light;
              }
            }
            &.list2 {
              right: 1067px;
              top: 83px;
              &:after {
                width: 740px;
              }
            }
          }
        }

        &.textRight {
          text-align: right;
        }
        &.textLeft {
          text-align: left;
        }
      }
    }
  }
}


@-webkit-keyframes typo01-after {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    width: 100%;
  }
  to {
    right: 0;
    width: 0;
  }
}
@keyframes typo01-after {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    width: 100%;
  }
  to {
    right: 0;
    width: 0;
  }
}

@-webkit-keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }
}
@keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }
}

